= simple_form_for @user, :url => url_for(:action => 'edit', :controller => 'page'), as: 'user_basic', method: :post,wrapper_mappings: {check_boxes: :vertical_radio_and_checkboxes,radio_buttons: :vertical_radio_and_checkboxes,file: :vertical_file_input,boolean: :vertical_boolean}  do |f|
  = f.input :email, placeholder: 'Enter email', wrapper_html: { class: 'username' }
  = f.input :preferences,
    collection: ['com science','arts'],
      wrapper: :vertical_radio_and_checkboxes
  = f.input :role,
    collection: ['student','faculty','admin'],
      wrapper: :vertical_radio_and_checkboxes
  = f.button :submit
/ = form_tag("/page/edit", id: "admin-dashboard", role: "form", :html => { :method => :post, :multipart => true }) do
/   %label Email ID
/   - binding.pry
/   - if @user.email.blank?
/     %input{type: "text", name: "email", id: "email", value: 'Enter Email Id'}
/   - else
/     %input{type: "text", name: "email", id: "email", value: @user.email}
/   %br/
/   %label Preferences
/   - if @user.preferences.blank?
/     = select_tag :preferences, options_for_select(["Select preferences"] + ['Computer Science','Arts','Engineering']), :class=>"size-16", :style=>"width: 210px;"
/   - else
/     = select_tag :preferences, options_for_select([@user.preferences] + ['Computer Science','Arts','Engineering']), :class=>"size-16", :style=>"width: 210px;"
/   %br/
/   %label Role
/   - if @user.role.blank?
/     = select_tag :role, options_for_select(["Select role"] + ['1','2','3']), :class=>"size-16", :style=>"width: 210px;"
/   - else
/     = select_tag :role, options_for_select([@user.role.to_s] + ['1','2','3']), :class=>"size-16", :style=>"width: 210px;"
/   %div.submit-button
/     = submit_tag 'Submit' , class: 'btn bth-primary', id: 'submit'