= simple_form_for (@book), :url => url_for(:action => 'details', :controller => 'books'), as: 'user_basic', method: :post  do |f|
	- if current_user.role != 'admin'
		= f.input :title, disabled: true,  wrapper_html: { class: 'username user-pref-email'}
		= f.input :author_name, disabled: true,  wrapper_html: { class: 'username user-pref-email'}
		= f.input :type, disabled: true,  wrapper_html: { class: 'username user-pref-email'}
		= f.input :sub_type, disabled: true,  wrapper_html: { class: 'username user-pref-email'}
		= f.input :category, disabled: true,  wrapper_html: { class: 'username user-pref-email'}
	- else
		= f.input :title, wrapper_html: { class: 'username user-pref-email'}
		= f.input :author_name, wrapper_html: { class: 'username user-pref-email'}
		= f.input :type, wrapper_html: { class: 'username user-pref-email'}
		= f.input :sub_type, wrapper_html: { class: 'username user-pref-email'}
		= f.input :category, wrapper_html: { class: 'username user-pref-email'}
	= f.label "Was the book userful?"
	%input.radioStyling{checked: false,:name => "rating1", :type => "radio", :value => "1"} 1    
	%input.radioStyling{checked: true,:name => "rating1", :type => "radio", :value => "2"} 2
	%input.radioStyling{:name => "rating1", :type => "radio", :value => "3"} 3
	%input.radioStyling{:name => "rating1", :type => "radio", :value => "4"} 4
	%input.radioStyling{:name => "rating1", :type => "radio", :value => "5"} 5

	%br/
	= f.label "Did the book serve your purpose?"
	= select_tag("rating2", options_for_select([['1', '1'],['2', '2'],['3','3'],['4','4'],['5','5']], @book.rating2))
	%br/
	= f.label "Was the book easy to understand?"
	= select_tag("rating3", options_for_select([['1', '1'],['2', '2'],['3','3'],['4','4'],['5','5']], @book.rating3))
	%br/
	= f.label "Would you recommend this book to a friend?"
	= select_tag("rating4", options_for_select([['1', '1'],['2', '2'],['3','3'],['4','4'],['5','5']], @book.rating4))
	%br/
	= f.label "How would you rate this book overall?"
	= select_tag("rating5", options_for_select([['1', '1'],['2', '2'],['3','3'],['4','4'],['5','5']], @book.rating5))
	%br/
	= fields_for @book do |fa|
		= fa.label "Over All Rating"
		= @overall_rating
	%br/
	%br/
	%a{href: @book.url, target:'_blank'}
		Download Book
	.update-book-box
		= f.button :submit, :class => "update-book-btn"
	%head
		Comments
	%br/
	- if !@comments.nil?
		- @comments.each do |comm|
			%li{:id => "micropost-#{comm.id}"}
				%strong
					Singh
				%p.body
					#{comm.feedback}
				%p.date{:style => "text-align: right;border-bottom:2px solid black"}
					Posted #{time_ago_in_words(comm.created_at)} ago.
	%br/
	%br/
	= text_area_tag(:comment,nil, cols: "30", rows: "3")
	%br/
	= submit_tag("Submit")