= form_for @post do |f|
	- if @post.errors.any?
		#errors
			%h2
				= pluralize(@post.errors.count,"error")
				prevented this post from saving
			%ui
				- @post.errors.full_messages.each do |msg|
					%li
						= msg
	%p
		= f.label :title
		%br/
		= f.text_field :title
		%br/
	%p
		= f.label :video_url
		%br/
		= f.text_field :video_url
		%br/
	%p
		= f.label :image_url
		%br/
		= f.text_field :image_url
		%br/
	%p
		= f.label :body
		%br/
		= f.text_area :body
	%p#createBtn
		= f.submit

