= form_for @post do |f|
	- if @post.errors.any?
		#errors
			%h2
				= pluralize(@post.errors.count,"error")
				prevented this post from saving
			%ui
				- @post.errors.full_messages.each do |msg|
					%li
						= msg
	%p
		= f.label :title
		%br/
		= f.text_field :title
		%br/
	- if @type == 'blog'
		%p
			= f.label :video_url
			%br/
			= f.text_field :video_url
			%br/
		%p
			= f.label :image_url
			%br/
			= f.text_field :image_url
			%br/
	%p
		= f.label :body
		%br/
		= f.text_area :body
	- if @type == 'paper'
		%p
			- check = []
			- if @post.published == true
				- check[0] = true
			- else
				- check[1] = true
			%label
				To be Published
			/ <%= f.label :autolyse %><br />
			= f.label :published, "Yes", :value => "true" 
			= f.radio_button :published, true, checked: check[0]
			= f.label :published, "No", :value => "false"
			= f.radio_button :published, false, checked: check[1]
	= f.hidden_field :type, value: @type
	%p#createBtn
		= f.submit

