.header
	.header-top
		.header-title
			CREATIVE MINDS
			/ # = link_to "Blog", posts_path, :class => "library-btn"
		.header-login
			- if user_signed_in?
				= link_to "Sign out", destroy_user_session_path, method: :delete
			- else
				= link_to "Sign in", new_user_session_path
				= link_to "Sign up", new_user_registration_path
	.header-bottom
		.header-left
			= link_to "Home", root_path
			= link_to "Add Books", books_path
			= link_to "User Preferences", page_edit_path
			= link_to "View Blogs", posts_path
			= link_to "Add New blog", new_post_path
			= link_to "Add Research Paper", '/posts/new?type=paper'
			- if !current_user.nil? && (current_user.role == 'admin' || current_user.role == 'faculty')
				= link_to "Pending Blog Posts",{controller: 'posts', action: 'index',id: true},style: "color: red;"
		.header-right
			= link_to "About", page_about_path
			= link_to "Faqs", page_faqs_path
			= link_to "Contact Us", page_contact_path